.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  left: 50%;
  background-color: #333;
  transform: translate(-50%, 0);
  padding: 4px 8px;
}

.dropdownContent {
  color: #fff !important;
}

/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.ring:hover ~ .dropdownContent {
  display: block;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
}

.center h1 {
  font-size: 36px;
}

.center p {
  font-size: 12px;
  color: #565656;
}
