.btn {
  border-radius: 8px;
  padding: 16px 24px;
  border: none;
}

.btn.primary {
  background-color: var(--btn-primary);
  color: var(--btn-primary-color);
}

.btn.primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn.primary:disabled {
  color: var(--color-disabled);
  background-color: var(--btn-primary);
}

.btn.secondary {
  background: var(--btn-secondary);
  color: var(--btn-secondary-color);
}

.btn.secondary:hover {
  background: var(--btn-secondary-hover);
}

.btn.secondary:disabled {
  color: var(--color-disabled);
  background: var(--btn-secondary);
}
