.container {
  display: block;
  position: relative;
  padding: 2px;
  padding-left: 24px;
  margin-bottom: 6px;

  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  border-radius: 4px;
}

.container:hover {
  background: var(--background-faded);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  display: grid;
  top: 4px;
  left: 4px;
  height: 16px;
  width: 16px;

  border: 2px solid var(--btn-primary);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;

  box-sizing: border-box;
}

.checkmark svg {
  margin: auto;
  color: white;
  stroke-width: 4px;
}

.checkmark svg.show polyline {
  stroke-dasharray: 22;
  animation: drawIn 0.2s ease-in-out forwards;
}

@keyframes drawIn {
  from {
    stroke-dashoffset: -22;
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.checkmark svg.hidden polyline {
  stroke-dasharray: 22;
  animation: drawOut 0.2s ease-in-out forwards;
}

@keyframes drawOut {
  from {
    stroke-dashoffset: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
    stroke-dashoffset: 22;
  }
}

.container:hover input ~ .checkmark {
  background-color: rgba(150, 150, 150, 0.1);
}

.container input:checked ~ .checkmark {
  background-color: var(--btn-primary);
}

.container input:checked ~ .text {
  color: var(--text-dark-faded);
}

.disabled {
  color: gray;
}

.disabled:hover {
  background: none !important;
}
