:root {
  /* --bg: #ffffff; */
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000000;
  }
}
*/

body {
  background-color: var(--background-color);
  color: var(--color);
}

.container {
  padding: 6px;
}

.controls {
  display: grid;
  margin: 24px;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.controlDouble {
  grid-area: 1 / 1 / 2 / 3;
}

.accent {
  border-radius: 8px;
  height: 220px;
  background-color: #b80000;
  padding: 24px;
  transition: 0.4s background-color;
}

.accentDisabled {
  background-color: #e9ebee !important;
}

.itemBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
