body {
  background-color: var(--background-color);
  color: var(--color);
}

.container {
  padding: 6px;
}

.controls {
  display: grid;
  margin: 24px;
  grid-gap: 8px;
}

.accent {
  border-radius: 8px;
  height: 220px;
  background-color: #b80000;
  padding: 24px;
  transition: 0.4s background-color, 0.4s color;
  position: relative;
}

.accentDisabled {
  background-color: var(--background-color-secondary) !important;
}

.itemBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
