:root {
  --bg: #ffffff;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000000;
  }
}
*/

.container {
  background-color: var(--bg);
  width: 376px;
}

.controls {
  display: grid;
  margin: 24px;
}

.chart {
  width: 100%;
}

.chart .innertext {
}
